{% include "header.html" %}
    <body class="sb-nav-fixed">
        {% include "nav.html" %}
        <div id="layoutSidenav">
            {% include "side.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <blockquote class="blockquote blockquote--bordered blockquote--quoted">
                        <p class="blockquote__text">
                          <marquee direction="up" scrollamount="1">
                            Empowering the individual means empowering the nation. And empowerment is best served through rapid economic growth with rapid social change.<br>
                          </marquee>
                        </p>
                        <p class="blockquote__text blockquote__text--credit">Abdul Kalam</p>
                    </blockquote>
                <div class="container-fluid px-4">
                    <video width="100%" style="border-radius: 20px;" autoplay muted>
                        <source src="static/images/front.mp4" type="video/mp4">
                    </video>
                    <video width="100%" style="border-radius: 20px;" autoplay muted>
                        <source src="static/images/middle.mp4" type="video/mp4">
                    </video>
                    <video width="100%" style="border-radius: 20px;" autoplay muted>
                        <source src="static/images/features.mp4" type="video/mp4">
                    </video>
                    <div class="quote">
                                <div>
                                    <div class="box box1">
                                        <p>The primary sector of the economy includes any industry involved in the extraction and production of raw materials, such as farming, logging, hunting, fishing, and mining.</p>
                                        <h2>Primary Sector</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="box box2">
                                        <p>The secondary sector covers all those activities consisting in varying degrees of processing of raw materials (manufacturing, construction industries).</p>
                                        <h2>Secondary Sector</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="box box3">
                                        <p>The service sector consists of the production of services instead of end products. Services (also known as "intangible goods") include attention, advice, access, experience, and affective labor.</p>
                                        <h2>Tertiary Sector</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="box box1">
                                        <p>The quaternary sector consists of those industries providing information services, such as computing, ICT, consultancy and R&D.</p>
                                        <h2>Quaternary Sector</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="box box2">
                                        <p>The quinary sector of industry is the sector of industry suggested by some economists as comprising health, education, culture, research, police, fire service, and other government industries not intended to make a profit.</p>
                                        <h2>Quinary Sector</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="box box3">
                                        <p><img src="static/images/news.png" width="250px" height="250px"></p>
                                        <h2><a href="{{url_for('news')}}" style="text-decoration: none;">News</a></h2>
                                    </div>
                                </div>
                            </div>
                    <div class="w3-display-container" >
                      <video class="mySlides" width="100%" height="100%" style="border-radius: 20px;" autoplay muted>
                          <source src="static/images/Akbar.mp4" type="video/mp4">
                      </video>
                        <video class="mySlides" width="100%" height="100%" style="border-radius: 20px;" autoplay muted>
                          <source src="static/images/Gandhi.mp4" type="video/mp4">
                      </video>
                      <video class="mySlides" width="100%" height="100%" style="border-radius: 20px;" autoplay muted>
                          <source src="static/images/Modi.mp4" type="video/mp4">
                      </video>
                      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                      </div>
                    </div>


                    </div>
                </main>
                <br>
                {% include "footer.html" %}
            </div>
        </div>
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function currentDiv(n) {
              showDivs(slideIndex = n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              var dots = document.getElementsByClassName("demo");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
              }
              x[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " w3-white";
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="static/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    </body>
</html>
